<a href="https://colab.research.google.com/github/MysticCelestia8/MachineLearning/blob/main/List1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
li = [i for i in range(10)]
print(li)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
li = [i^2 for i in range(10)] #bitwise XOR
li1 = [li for i in range(10)]
print(li)
print("")
print(li1)

[2, 3, 0, 1, 6, 7, 4, 5, 10, 11]

[[2, 3, 0, 1, 6, 7, 4, 5, 10, 11], [2, 3, 0, 1, 6, 7, 4, 5, 10, 11], [2, 3, 0, 1, 6, 7, 4, 5, 10, 11], [2, 3, 0, 1, 6, 7, 4, 5, 10, 11], [2, 3, 0, 1, 6, 7, 4, 5, 10, 11], [2, 3, 0, 1, 6, 7, 4, 5, 10, 11], [2, 3, 0, 1, 6, 7, 4, 5, 10, 11], [2, 3, 0, 1, 6, 7, 4, 5, 10, 11], [2, 3, 0, 1, 6, 7, 4, 5, 10, 11], [2, 3, 0, 1, 6, 7, 4, 5, 10, 11]]

In [ ]:
R = (int)(input("Enter number of rows"))
C = (int)(input("Enter number of Columns"))

l2 = [i for i in range(R)]
l3 = [l2 for i in range(C)]
print(l3)

Enter number of rows3
Enter number of Columns3
[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [ ]:
R = (int)(input("Enter number of rows: "))
C = (int)(input("Enter number of Columns: "))
l1 = [int(x) for x in input().split()]
print(l1)

a = [];

for i in range(R):
 a.append([])
 for j in range(C):
  a[i].append(l1[C*i+j]);
  print(a);

Enter number of rows3
Enter number of Columns3
1 2 3 4 5 6 7 8 9
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[[1]]
[[1, 2]]
[[1, 2, 3]]
[[1, 2, 3], [4]]
[[1, 2, 3], [4, 5]]
[[1, 2, 3], [4, 5, 6]]
[[1, 2, 3], [4, 5, 6], [7]]
[[1, 2, 3], [4, 5, 6], [7, 8]]
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]